.idea
*.py[cod]
.*
!.devcontainer
!.dockerignore
!.github
!.gitignore
!.vscode
*.log
*.pot
*.pyc
local_settings.py
.release_changelog.txt
.base_ver_release.txt
__pycache__/
build/
coverage/
dist/
*\.egg*
# data
/media/
/node_modules/
/static/
/digital_contents/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Exported results file
django-queries-results.html

*.py[cod]
.*
!.gitattributes
!.babelrc
!.circleci
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslintrc.json
!.flowconfig
!.gqlconfig
!.github
!.gitignore
!.nvmrc
!.node-version
!.npmrc
!.plop
!.prettierignore
!.prettierrc
!.pylintrc
!.travis*
!.tx
!.husky
!.changeset
!.knip.json
*.log
*.pyc
*.mo
local_settings.py
__pycache__/
build/
coverage/
dist/
*\.egg*
# data
/docs/_build/
/media/
node_modules/
/static/
/videos/
/screenshots/
/results/
/testmo/
/saleor/static/assets/
webpack-bundle.json
/templates/templated_email/compiled/*
!/templates/templated_email/compiled/.gitkeep
mochawesome.json
# Exported results file
django-queries-results.html

!.env.template
!.dependency-cruiser.js
!.featureFlags
/test-results/
/playwright-report/
/playwright/.cache/
